<div id="content">
  <mat-card class="card" *ngFor="let team of teams | async">
    <mat-card-header class="header">
      <img mat-card-avatar class="logo-team" [src]="team.LogoUrl || '../../../../../../assets/images/NoLogo.png'">
      <mat-card-title class="name-team">{{team.Name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="players-content">
      <div *ngIf="players|async;let players">
        <div *ngIf="players?.length > 0; else noPlayers">
          <mat-card class="card-player" *ngFor="let player of players">
            <mat-card-content class="player-card-content">
              <img class="photo-player" [src]="player.PhotoUrl || '../../../../../../assets/images/NoPhotoPlayer.png'">
              <div class="info-player">
                <p>{{player.Name}}</p>
                <p>{{player.FirstName}} {{player.LastName}}</p>
                <p>{{player.BirthDate.toDate().toLocaleDateString('es-ES',{ year: 'numeric', month: 'long', day:
                  'numeric'})}}</p>
                <p class="bold">{{player.Id}}</p>
              </div>
            </mat-card-content>
            <div class="bottom-card-btn">
              <div class="buttons">
                <button mat-icon-button matTooltip="Dar de baja" (click)="openDropDialog(player)">
                  <mat-icon>arrow_downward</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Editar" (click)="openEditDialog(player)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<button class="fab-button" mat-fab color="primary" matTooltip="Nuevo jugador" (click)="openAddDialog()">
  <mat-icon>add</mat-icon>
</button>
<ng-template #noPlayers>
  <div class="no-players-label">
    No tiene jugadores registrados.
  </div>
</ng-template>