<div id="content">
  <mat-card class="card" *ngFor="let team of teams | async">
    <mat-card-header class="header">
      <img mat-card-avatar class="logo-team" [src]="team.LogoUrl || '../../../../../../assets/images/NoLogo.png'">
      <mat-card-title class="name-team">{{team.Name}}</mat-card-title>
    </mat-card-header>
    <button style="margin-left:10px;" mat-icon-button (click)="generateReport(team.Name)" matTooltip="Generar reporte">
      <mat-icon aria-label="Example icon-button with a heart icon">assignment</mat-icon>
    </button>
    <mat-card-content class="players-content">
      <div *ngIf="players|async;let players">
        <div *ngIf="players?.length > 0; else noPlayers">
          <mat-card style="position: relative; width:10cm;" class="card-player"
            *ngFor="let player of players; let i = index;">
            <div id="IDCard{{i}}">
              <img style="width:100%;" src="../../../../assets/images/IDCard2Fuerza.jpg">
              <img style="position: absolute; top: 30px;left: 16px; width: 2.5cm; height: 3cm;"
                [src]="player.PhotoUrl || '../../../../../../assets/images/NoPhotoPlayer.png'">
              <p style="position: absolute; top: 95px;left: 120px; font-size: 9px;">{{player.Name + ' ' +
                player.FirstName + ' ' +
                player.LastName}}</p>
              <p style="position: absolute; top: 165px;left: 2px; font-size: 9px; text-align: center;">
                {{player.Team.Name}}</p>
              <p style="position: absolute; top: 60px;left: 120px; font-size: 12px; font-weight: bold;">FOLIO:
                {{player.Folio}}</p>
              <p style="position: absolute; top: 195px;left: 28px; font-size: 10px; word-spacing: 5px;">{{player.BirthDate.toDate().getDate()+'
                '
                + (player.BirthDate.toDate().getMonth() + 1) +' '+ player.BirthDate.toDate().getFullYear()}}</p>
              <div class="bottom-card-btn">
                <div class="buttons">
                  <button mat-icon-button matTooltip="Dar de baja" (click)="openDropDialog(player)">
                    <mat-icon>arrow_downward</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Editar" (click)="openEditDialog(player)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Imprimir credencial" (click)="generateIDCard(player, 'IDCard'+i)">
                    <mat-icon>print</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<button class="fab-button" mat-fab color="primary" matTooltip="Nuevo jugador" (click)="openAddDialog()">
  <mat-icon>add</mat-icon>
</button>
<ng-template #noPlayers>
  <div class="no-players-label">
    No tiene jugadores registrados.
  </div>
</ng-template>