<form [formGroup]="formAdd" (ngSubmit)="add()">
  <h1 mat-dialog-title>Agregar campo</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="nameField" required autofocus>
      <mat-error *ngIf="formAdd.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button type="submit" color="primary">Agregar</button>
  </div>
</form>