.body {
    margin: 0;
}

.card {
    display: inline-block;
    margin: 20px;
    padding: 0px;
}

.card:hover .icon {
    visibility: visible;
}

.card:hover {
    box-shadow: 0 0 20px black;
}

.name {
    background: rgba(0, 0, 0, .54);
    bottom: 50px;
    color: #fff;
    font-size: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
}

img {
    padding: 10px;
}

.icon {
    color: white;
    visibility: hidden;
    padding: 5px;
}

.icons {
    background-color: #002984;
}

.fab-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.no-fields-label {
    text-align: center;
    margin-top: 50px;
    color: gray;
    font-style: italic;
}