<form [formGroup]="MatchCtrl">
  <mat-card class="card-match-details">
    <mat-card-header class="header-card" *ngIf="match | async; let matchs">
      <div class="header-local" *ngFor="let local of teamLocal | async">
        <div style="width:80%; float: left;">
          <img class="logoUrl-header" [src]="local.LogoUrl || '../../../../../../assets/images/NoLogo.png'">
          <p>{{local.Name}}</p>
        </div>
        <div *ngIf="matchs.Finished" class="goalLeft">{{matchs.GoalsLocal}}</div>
      </div>
      <div class="header-datetime">
        <p>{{tournamentName}}</p>
        <p>{{matchweekName}}</p>
        <p>
          <mat-icon style="margin-right:20px; vertical-align: middle;">schedule</mat-icon>
          {{matchs.Date == null ? 'Sin definir' : matchs.Date.toDate().toLocaleDateString('es-ES',{ weekday:
          'short', year: 'numeric', month: 'short', day: 'numeric', hour12: true, hour: 'numeric', minute:
          '2-digit' })}}
        </p>
        <p>
          <mat-icon style="margin-right:20px; vertical-align: middle;">pause_presentation</mat-icon>{{matchs.Field ==
          null
          ?
          'Sin definir' : 'Campo ' + matchs.Field.Name}}
        </p>
        <div style="margin-bottom:10px;">
          <mat-slide-toggle *ngIf="!finalFinished; else elseFinished" (change)="onChange()" [formControl]="toggleCtrl">
            Finalizar
            partido</mat-slide-toggle>
          <ng-template #elseFinished>FINAL</ng-template>
        </div>
      </div>
      <div class="header-visit" *ngFor="let visit of teamVisit | async">
        <div style="width:80%; float: right;">
          <img class="logoUrl-header" [src]="visit.LogoUrl || '../../../../../../assets/images/NoLogo.png'">
          <p>{{visit.Name}}</p>
        </div>
        <div *ngIf="matchs.Finished" class="goalRight">{{matchs.GoalsVisit}}</div>
      </div>
    </mat-card-header>
    <div *ngIf="match | async; let matchs">
      <mat-card-content>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngIf="!finalFinished">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Horario
              </mat-panel-title>
              <mat-panel-description>
                Asignar fecha, hora y campo
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="dateTime">
              <input matInput [matDatepicker]="picker" placeholder="Fecha de partido" formControlName="matchDateCtrl"
                required [value]="matchs.hasOwnProperty('Date') ? matchs.Date.toDate() : '' ">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="MatchCtrl.get('matchDateCtrl').getError('required')">Debe seleccionar una fecha
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dateTime">
              <input matInput type="number" max="23" min="0" placeholder="Hora (24H)"
                [value]="matchs.hasOwnProperty('Date') ? matchs.Date.toDate().getHours() : '' "
                formControlName="matchHourCtrl" required>
              <mat-error *ngIf="MatchCtrl.get('matchHourCtrl').getError('required')">Debe introducir un valor
              </mat-error>
            </mat-form-field>
            <mat-form-field class="dateTime">
              <input matInput type="number" max='59' min="0" placeholder="Minutos"
                [value]="matchs.hasOwnProperty('Date') ? matchs.Date.toDate().getMinutes(): '00' "
                formControlName="matchMinutesCtrl" required>
              <mat-error *ngIf="MatchCtrl.get('matchMinutesCtrl').getError('required')">Debe introducir un valor
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Campo" formControlName="matchFieldCtrl" required>
                <mat-option *ngFor="let field of fields | async" [value]="field">
                  {{field.Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="MatchCtrl.get('matchFieldCtrl').getError('required')">Debe seleccionar una opción
              </mat-error>
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="primary" (click)='setMatch()'>Guardar</button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel [disabled]="!expansionActive">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Final
              </mat-panel-title>
              <mat-panel-description>
                Agregar resultado final
                <mat-icon>check</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <div>
                <mat-list-item style="display:inline-block;">GOLEO</mat-list-item>
                <img src="../../../../assets/images/Goals.png" width="20px" height="20px" style="display:inline;">
                <mat-divider class="divider"></mat-divider>
                <div *ngFor="let localTeam of teamLocal | async">
                  <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipListGoalsLocal>
                      <mat-chip *ngFor="let player of playersGoalLocal; let i = index;" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(i, 1)" [matTooltip]="player.Folio">
                        {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Goles local..." #playersGoalLocalInput [formControl]="goalsLocalCtrl"
                        [matAutocomplete]="autoGoalsLocal" [matChipInputFor]="chipListGoalsLocal"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
                    </mat-chip-list>
                    <mat-autocomplete #autoGoalsLocal="matAutocomplete" (optionSelected)="selected($event, 1)">
                      <mat-option *ngFor="let player of filteredGoalsLocal | async" [value]="player">
                        {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div *ngFor="let visitTeam of teamVisit | async">
                  <mat-form-field class="example-chip-list">
                    <mat-chip-list #chipListGoalsVisit>
                      <mat-chip *ngFor="let player of playersGoalVisit; let i = index;" [selectable]="selectable"
                        [removable]="removable" (removed)="remove(i, 2)" [matTooltip]="player.Folio">
                        {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input placeholder="Goles visita..." #playersGoalVisitInput [formControl]="goalsVisitCtrl"
                        [matAutocomplete]="autoGoalsVisit" [matChipInputFor]="chipListGoalsVisit"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
                    </mat-chip-list>
                    <mat-autocomplete #autoGoalsVisit="matAutocomplete" (optionSelected)="selected($event, 2)">
                      <mat-option *ngFor="let player of filteredGoalsVisit | async" [value]="player">
                        {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <mat-list-item style="display:inline-block;">DISCIPLINARIA</mat-list-item>
                <img src="../../../../assets/images/Cards.png" width="20px" height="20px" style="display:inline;">
                <mat-divider class="divider"></mat-divider>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipListYLocal>
                    <mat-chip *ngFor="let player of playersYLocal; let i = index;" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(i, 3)" [matTooltip]="player.Folio">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Amonestaciones local..." #playersYLocalInput [formControl]="YLocalCtrl"
                      [matAutocomplete]="autoYLocal" [matChipInputFor]="chipListYLocal"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
                  </mat-chip-list>
                  <mat-autocomplete #autoYLocal="matAutocomplete" (optionSelected)="selected($event, 3)">
                    <mat-option *ngFor="let player of filteredYLocal | async" [value]="player">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipListYVisit>
                    <mat-chip *ngFor="let player of playersYVisit; let i = index;" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(i, 4)" [matTooltip]="player.Folio">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Amonestaciones visita..." #playersYVisitInput [formControl]="YVisitCtrl"
                      [matAutocomplete]="autoYVisit" [matChipInputFor]="chipListYVisit"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
                  </mat-chip-list>
                  <mat-autocomplete #autoYVisit="matAutocomplete" (optionSelected)="selected($event, 4)">
                    <mat-option *ngFor="let player of filteredYVisit | async" [value]="player">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipListRLocal>
                    <mat-chip *ngFor="let player of playersRLocal; let i = index;" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(i, 5)" [matTooltip]="player.Folio">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Expulsiones local..." #playersRLocalInput [formControl]="RLocalCtrl"
                      [matAutocomplete]="autoRLocal" [matChipInputFor]="chipListRLocal"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
                  </mat-chip-list>
                  <mat-autocomplete #autoRLocal="matAutocomplete" (optionSelected)="selected($event, 5)">
                    <mat-option *ngFor="let player of filteredRLocal | async" [value]="player">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-chip-list">
                  <mat-chip-list #chipListRVisit>
                    <mat-chip *ngFor="let player of playersRVisit; let i = index;" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(i, 6)" [matTooltip]="player.Folio">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Expulsiones visita..." #playersRVisitInput [formControl]="RVisitCtrl"
                      [matAutocomplete]="autoRVisit" [matChipInputFor]="chipListRVisit"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
                  </mat-chip-list>
                  <mat-autocomplete #autoRVisit="matAutocomplete" (optionSelected)="selected($event, 6)">
                    <mat-option *ngFor="let player of filteredRVisit | async" [value]="player">
                      {{player.Name + ' ' + player.FirstName + ' ' + player.LastName}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </mat-list>
            <mat-action-row>
              <button mat-button color="warn" (click)='openFinishDefaultDialog()'>Terminar por default</button>
              <button mat-button color="primary" (click)='setResult()' [disabled]='buttonDisabled'>Guardar</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </div>
  </mat-card>
</form>