.card-match-details {
    margin: 50px;
    padding: 0;
}

.header-card {
    background-color: #000156;
    color: white;
}

.header-local {
    float: left;
    width: 35%;
    text-align: center;
}

.header-datetime {
    float: left;
    width: 30%;
    text-align: center;
    background-color: #002984;
}

.header-visit {
    float: right;
    width: 35%;
    text-align: center;
}

.logoUrl-header {
    margin-top: 25px;
    width: 80px;
    height: 80px;
}

.example-headers-align .mat-expansion-panel-header-title, .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.dateTime {
    margin-right: 20px;
}

.goalLeft {
    float: right;
    width: 20%;
    margin-top: 55px;
    font-size: 50px;
}

.goalRight {
    float: left;
    width: 20%;
    margin-top: 55px;
    font-size: 50px;
}

.example-chip-list {
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.divider {
    background-color: blue;
}