.input-hide {
    display: none;
}

#btn-add-logo {
    margin-left: 10px;
}

#logo-preview {
    width: 40px;
    height: 45px;
    margin-left: 10px;
}

.spacer {
    margin-right: 10px;
}

.photo-size {
    width: 40px;
    height: 45px;
    border-radius: 50%;
}

.material-icons.md-18 {
    font-size: 18px;
}

#player-registered {
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    margin-top: 10px;
}