<form [formGroup]="playerCtrl">
  <h1 mat-dialog-title>Registrar jugador</h1>
  <div mat-dialog-content>

    <ng-template matStepLabel>Alta de jugadores</ng-template>
    <mat-form-field class="spacer">
      <input matInput placeholder="CURP" formControlName="curpCtrl" required maxlength="18" minlength="18">
      <mat-error *ngIf="playerCtrl.controls['curpCtrl'].errors">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="spacer">
      <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="birthdateCtrl"
        required>
      <mat-error *ngIf="playerCtrl.controls['birthdateCtrl'].errors">Debe introducir un valor</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <input id="inputPhoto" class="input-hide" type="file" (change)="setPhoto($event)" accept="image/*">
    <button id="btn-add-logo" mat-button onclick="document.getElementById('inputPhoto').click()">
      <mat-icon>cloud_upload</mat-icon>
      <span> Fotografía...</span>
    </button>
    <img id="logo-preview" [src]="PhotoUrlBuffer || 'http://placehold.it/40'">
    <br>
    <mat-form-field class="spacer">
      <input matInput placeholder="Nombre(s)" formControlName="nameCtrl" required>
      <mat-error *ngIf="playerCtrl.controls['nameCtrl'].errors">Debe introducir un valor</mat-error>
    </mat-form-field>
    <mat-form-field class="spacer">
      <input matInput placeholder="Apellido paterno" formControlName="firstNameCtrl" required>
      <mat-error *ngIf="playerCtrl.controls['firstNameCtrl'].errors">Debe introducir un valor</mat-error>
    </mat-form-field>
    <mat-form-field class="spacer">
      <input matInput placeholder="Apellido materno" formControlName="lastNameCtrl" required>
      <mat-error *ngIf="playerCtrl.controls['lastNameCtrl'].errors">Debe introducir un valor</mat-error>
    </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial (click)='add()'>Guardar</button>
  </mat-dialog-actions>
</form>