<h1 mat-dialog-title>Editar equipo</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Nombre" value="{{data.Name}}" [formControl]="nameTeam" required autofocus>
    <mat-error *ngIf="nameTeam.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <input id="inputLogo" style="display: none;" type="file" (change)="setLogo($event)" accept="image/*">
  <button style="margin-left: 10px;" mat-button onclick="document.getElementById('inputLogo').click()">
    <mat-icon>cloud_upload</mat-icon>
    <span>Logotipo...</span>
  </button>
  <img style="width:40px;height: 40px; margin-left: 10px;" [src]="LogoBuffer || 'http://placehold.it/40'">
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button (click)="edit()" color="primary">Editar</button>
</div>